* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "SFProText", sans-serif;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}
